In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('diabetes.csv')

In [3]:
y = df['Outcome']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [4]:
X = df.drop(columns=['Outcome'])
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [5]:
from sklearn.linear_model import LogisticRegressionCV

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
seed=50

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y,test_size=.20, random_state=seed)

In [11]:
y_train.value_counts()

0    400
1    214
Name: Outcome, dtype: int64

In [12]:
y_test.value_counts()

0    100
1     54
Name: Outcome, dtype: int64

In [13]:
scaler = StandardScaler()

In [14]:
X_train_s = scaler.fit_transform(X_train)
X_test_s = scaler.transform(X_test)

In [15]:
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
377,1,87,60,37,75,37.2,0.509,22
687,1,107,50,19,0,28.3,0.181,29
613,6,105,80,28,0,32.5,0.878,26
31,3,158,76,36,245,31.6,0.851,28
557,8,110,76,0,0,27.8,0.237,58
...,...,...,...,...,...,...,...,...
84,5,137,108,0,0,48.8,0.227,37
229,0,117,80,31,53,45.2,0.089,24
361,5,158,70,0,0,29.8,0.207,63
346,1,139,46,19,83,28.7,0.654,22
654,1,106,70,28,135,34.2,0.142,22

In [16]:
lr = LogisticRegressionCV()

In [17]:
lr.fit(X_train_s,y_train)

LogisticRegressionCV()

In [18]:
lr.Cs_

array([1.00000000e-04, 7.74263683e-04, 5.99484250e-03, 4.64158883e-02,
       3.59381366e-01, 2.78255940e+00, 2.15443469e+01, 1.66810054e+02,
       1.29154967e+03, 1.00000000e+04])

In [19]:
y_hat = lr.predict(X_test_s)

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(y_test, y_hat)

0.7467532467532467

In [22]:
lr.score(X_test,y_test)

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegressionCV was fitted without feature names
  warnings.warn(

0.35064935064935066

In [23]:
from sklearn.metrics import confusion_matrix, matthews_corrcoef, classification_report

In [24]:
y_test.__len__()

154

In [25]:
print(classification_report(y_test, y_hat))

              precision    recall  f1-score   support

           0       0.76      0.90      0.82       100
           1       0.71      0.46      0.56        54

    accuracy                           0.75       154
   macro avg       0.74      0.68      0.69       154
weighted avg       0.74      0.75      0.73       154

In [29]:

print(pd.crosstab(y_test, y_hat, rownames=['Actual'], colnames=['Predicted']))

Predicted   0   1
Actual
0          90  10
1          29  25

In [27]:
matthews_corrcoef(y_test,y_hat)

0.4132869465853778